body
{
	font-size: 1.7em;
	/*-webkit-print-color-adjust: exact;*/
}
a,
a:focus,
a:hover {
  color: #4CAE4C;
}

.navbar-header
{
	min-height: 6em;
}
.navbar-header .navbar-brand,
.cover-heading
{
	color: #2b2a42;
}
.navbar-default
{
	background-color: transparent;
	border: none;
}

input[type="text"],input[type="password"]
{
	min-height: 2em;
}

#clave_usuario, #logo, #nombre_usuario
{
	max-width: 12em;
}
.nav .dropdown #menu1.dropdown-menu li a
{
	font-size: 1.2em;
}
.formularios *
{
	font-size: 1em;
}

/*/*.formularios .flexigrid #main-table-box #crudForm .form-div div div select,
.formularios .flexigrid #main-table-box #crudForm .form-div div div.form-input-box,
.formularios .flexigrid #main-table-box #crudForm .form-div div div.form-display-as-box,
table#flex1 tbody tr td .text-left
{
	font-size: 1.3em;
}

.flexigrid div.bDiv table
{
	
	max-width: 5000px !important;

}
#flex1 th,#flex1 td 
{
	width:auto !important;
}
*/

.parent
{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.opcionesPP
{
	display: inline-block;
	vertical-align: middle;
	width: 11em;
	height: 11em;
	margin: .5em;
}

.navbar-toggle > .icon-bar
{
	color: rgba(0,0,0,100);
}
.imprimir
{
	font-size: .8em;
}
.imprimir input
{
	font-size: 1.3em;
	max-height: 2.2em;
}
.imprimir textarea
{
	max-height: 3em;
}
.imprimir select
{
	max-height: 2.2em;
}
.imprimir tr
{
	max-height: .8em;
}

#reporte
{

	font-family: "Arial",sans;
	font-size: 12pt;
	line-height: 2em;
	
}
#reporte-tabla
{

	font-family: "Arial",sans;
	font-size: .8em;
	
}

#reporteCTA
{
	font-family: "Arial",sans;
	font-size: 12pt;
	line-height: 1.3em;
}

#crudForm div.form-div div#report-error.report-div
{
	font-size: 2em;
}

.crud-action,
table#flex1 tbody tr td .tools a
{
	font-size: 1.5em;
	color:#2b2a42;
}
.nota
{
	font-size: 8pt;
}
div#ajax_list.ajax_list div.bDiv table#flex1 tbody tr
{
	font-size: 8pt;
}
div#ajax_list.ajax_list div.bDiv table#flex1 thead
{
	font-size: .9em;
}
.encabezado
{
	background-color: #c9c9c9;
}
.encabezado2
{
	background-color: #eee;
	font-size: .8em;
}
.both-borders
{
	border-right: thin solid #ccc;
	border-left: thin solid #ccc;
}

#reporte-tabla .table > thead > tr > th, 
#reporte-tabla .table > tbody > tr > th, 
#reporte-tabla .table > tfoot > tr > th, 
#reporte-tabla .table > thead > tr > td, 
#reporte-tabla .table > tbody > tr > td, 
#reporte-tabla .table > tfoot > tr > td
{
	padding: 0;
	font-size: .9em;
}
div.form-div input.datepicker-input
{
	width: 150px !important;
}

.img-responsive.logo
{
	width:100px;
	height:auto;
	float:left;
	margin-right: 1em;
}